.title {
    color: #0d0d0d;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-top: 70px;
    text-transform: uppercase;

    &_left {
        color: #ffffff;
        font-size: 36px;
        font-weight: 400;
        text-align: left;
    }
}